﻿@inject Microsoft.AspNetCore.Identity.SignInManager<PayMeDAL.Models.ApplicationUser> signInManager;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PayMe</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <link rel="stylesheet" href="@Url.Content("~/css/LandingPage.css")" />
    @RenderSection("LandingPage", false)
    <link rel="stylesheet" href="@Url.Content("~/css/HomePage.css")" />
    @RenderSection("HomePage", false)

</head>
<body>

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                @if (signInManager.IsSignedIn(User))
                {
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">PayMe</a>
                }
                else
                {
                    <a class="navbar-brand" asp-area="" asp-controller="Account" asp-action="Login">PayMe</a>
                }
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    @if (signInManager.IsSignedIn(User))
                    {
                        <ul class="navbar-nav ml-auto">
                            @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                            {
                            <li class="nav-item">
                                <form class="form-inline my-2 my-lg-0" method="post" asp-action="Adminpanel" asp-controller="Home">
                                    <button type="submit" class="nav-link text-dark btn btn-link py-0" style="width:auto;">
                                        Adminpanel
                                    </button>
                                </form>
                            </li>
                            }
                            <li class="nav-item">
                                <form class="form-inline my-2 my-lg-0" method="post" asp-action="Logout" asp-controller="Account">
                                    <button type="submit" class="nav-link text-dark btn btn-link py-0" style="width:auto;">
                                        Logout @User.Identity.Name
                                    </button>
                                </form>
                            </li>
                        </ul>
                        <ul class="navbar-nav mr-auto">

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Transaction">New Transaction</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="TopUp">Add Balance</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Withdraw">Withdraw Balance</a>
                            </li>
                        </ul>

                    }
                    else
                    {
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a asp-action="Register" asp-controller="Account" class="nav-link text-dark">Register</a>
                            </li>
                            <li class="nav-item">
                                <a asp-action="Login" asp-controller="Account" class="nav-link text-dark">Login</a>
                            </li>
                        </ul>
                    }
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; Jarno De Bundel 2020 - PayMe
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>