﻿@model PayMe.Viewmodels.AdminUserEditViewModel
@inject Microsoft.AspNetCore.Identity.UserManager<PayMeDAL.Models.ApplicationUser> usermanager;

@{
    ViewData["Title"] = "Edit User";
}

<h1>Edit User</h1>

<form asp-action="AdminEdit" asp-controller="Home" method="post" class="mt-3" enctype="multipart/form-data">
    <div class="form-group row">
        <label asp-for="Id" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Id" disabled class="form-control" />
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="FirstName" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="FirstName" class="form-control" />
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="LastName" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="LastName" class="form-control" />
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Email" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Email" class="form-control" />
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="UserName" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="UserName" disabled class="form-control" />
        </div>
        <a class="small">Username = Email</a>
    </div>

    <div class="form-group row">
        <label asp-for="UniqueCode" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="UniqueCode" class="form-control" />
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Money" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input type="number" step="0.01" min="0" asp-for="Money" class="form-control" />
        </div>
    </div>

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-warning">Update User</button>
            <a asp-action="Adminpanel" asp-controller="Home" class="btn btn-secondary">Cancel</a>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h3>User Roles</h3>
        </div>
        <div class="card-body">
            @if (Model.Roles.Any())
            {
                foreach (var role in Model.Roles)
                {
                    <h5 class="card-title">@role</h5>
                }
            }
            else
            {
                <h5 class="card-title">Not in a role...</h5>
            }
        </div>
        <div class="card-footer">
            <a asp-action="ManageUserRoles" asp-route-userId="@Model.Id" style="width:auto" class="btn btn-primary">
                Manage Roles
            </a>
        </div>
    </div>

</form>


