﻿@model IEnumerable<ApplicationUser>
@inject Microsoft.AspNetCore.Identity.UserManager<PayMeDAL.Models.ApplicationUser> usermanager;

@{
    ViewData["Title"] = "Adminpanel";
}

<h1>Hier komt het adminpanel :)</h1>

<div class="card-deck">
    @foreach (var usr in Model)
    {
        var checkAdmin = usermanager.IsInRoleAsync(usr, "Admin").Result;
        <div class="card m-3" style="min-width: 18rem; max-width: 30.5%;">
            <div class="card-header">
                <h3>@usr.UserName</h3>
            </div>
            <div class="card-body text-center">
                <b>Firstname: </b>@usr.FirstName  <br />
                <b>Lastname: </b>@usr.LastName   <br />
                <b>UniqueCode: </b>@usr.UniqueCode <br />
                <b>Money: </b>@usr.Money
            </div>
            <div class="card-footer text-center">
                @if (checkAdmin is true)
                {
                    <form>
                        <button disabled class="btn btn-info">Edit</button>
                        <button disabled class="btn btn-danger">Delete</button><br />
                        <a class="small">Cannot edit or delete admin...</a>
                    </form>
                }
                else
                {
                    <form asp-action="AdminDelete" asp-route-id="@usr.Id" method="post">
                        <a class="btn btn-info" asp-action="AdminEdit" asp-controller="Home" asp-route-id="@usr.Id">Edit</a>
                        <button class="btn btn-danger">Delete</button>
                    </form>
                }
            </div>
        </div>
    }
</div>