﻿@model ApplicationUser
@inject Microsoft.AspNetCore.Identity.UserManager<PayMeDAL.Models.ApplicationUser> usermanager;


@{
    ViewData["Title"] = "Home Page";
    //Dit zou een extra classe moeten callen maar gaf een error tijdens testen...
    //Deze zou gebruikt worden data van de recente transactions weer te geven per gebruiker, helaas niet afgeraakt.
    //PayMe.Helpers.GetTransactions.showTransactions();

}

@section LandingPage{
    <link rel="stylesheet" href="@Url.Content("~/css/HomePage.css")" />
}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="~/images/defaultpic.png" alt="" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Overview</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Transactions</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <a asp-action="EditUser" asp-controller="Account">Edit Profile</a><br />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="profile-work">
                    <br />
                    <h5>Current balance:</h5>
                    <h6>€@Model.Money</h6>
                    <a asp-action="TopUp" asp-controller="Account">Top up balance.</a><br />
                    <a href=""></a>
                    <a asp-action="Withdraw" asp-controller="Account">Withdraw balance.</a><br />
                    <a href=""></a><br />
                    <a href=""></a><br />
                    <a href=""></a><br />
                    <a href=""></a><br />
                </div>
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Name</label>
                            </div>
                            <div class="col-md-6">
                                <p>@Model.FirstName @Model.LastName</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Username</label>
                            </div>
                            <div class="col-md-6">
                                <p>@User.Identity.Name</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Email</label>
                            </div>
                            <div class="col-md-6">
                                <p>@User.Identity.Name</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Transaction code</label>
                            </div>
                            <div class="col-md-6">
                                <p>@Model.UniqueCode</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Transaction type (verzending/toegekregen) + hoeveelheid</label>
                            </div>
                            <div class="col-md-6">
                                <p>Naam ontvanger/verzender/</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>